
body {
background-size: cover;
background-image: url(pics/d1.jpg), url(pics/t2.png);
background-repeat: no-repeat;
background-color: #000000;
color: #555;
font-size: 16px;
line-height: 1.6em;
margin: 0 auto;
width: 800px;
margin-top: 10px;
border: 2px solid rgb(0, 0, 0);
box-shadow: 0 0 5px maroon, 0 0 5px #fff; 
backdrop-filter: blur(2px) brightness(60%);






}


.container {
width: 80%;
margin: 0;
overflow: hidden;
padding: 5px;
margin: 0 auto;
align-items: center;
text-align: center;
justify-content: center;
display: flex;






}




#cut {
    border-bottom: 2px solid rgb(0, 0, 0);

}



    
#cut2 {
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}   

#cut3 {
    border-top: 2px solid rgb(0, 0, 0);

}

    

#crop {
    background: rgba(3, 3, 3, 0.3);
    
    
    

}

#crop2 {
    margin-bottom: -8px;

}

#crop3 {
    margin-bottom: -8px;

}

h2 {
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 4px #FF0000, 0 0 3px #fff;
    
    

}


#head {
    background: rgba(3, 3, 3, 0.3);
    font-size: 25px;
    letter-spacing: 10px;
    color: maroon;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #fff;
    border-bottom: 2px solid rgb(0, 0, 0);
    
    
    
    
    
    
    
    

}







#navbar {

background: rgba(3, 3, 3, 0.3);
align-items: center;
justify-content: center;
display: flex;    
    
}
    
    


#roarr {
    border: 5px solid maroon;
    border-radius: 50%;
    box-shadow: 0 0 5px #FF0000, 0 0 8px #fff;
    margin-left: -30px;
    

}






#navbar ul {
padding: 0;
list-style: none;
display: inline-flex;

}

#navbar ul img {

    border: 5px solid maroon;
    border-radius: 50%;
    box-shadow: 0 0 2px #FF0000, 0 0 5px #fff; 
    margin: 10px;

}



#slay ul { list-style: none;}





button {

        padding: 15px 50px;
        outline: none;
        border: 4px solid maroon;
        border-radius: 20px;
        color: #fff;
        font-size: 20px;
        font-weight: bolder;
        cursor: pointer;
        background: transparent;
        border-radius: 50px;
        text-shadow: 0 0 3px #FF0000, 0 0 3px #fff;
        box-shadow: 0 0 2px #FF0000, 0 0 5px #fff; 
        margin-bottom: 10px;

}


#but {

    background: rgba(3, 3, 3, 0.3); 
    
    


}

#slay {
    background: rgba(3, 3, 3, 0.3);
    
    
    


}


#slay h1
{

    font-size: 30px;
    letter-spacing: 10px;
    line-height: 1em;
    color: #fff;
    text-shadow: 0 0 4px #FF0000, 0 0 3px #fff;
    


}


#sec {

    background: rgba(3, 3, 3, 0.3);
    
    
    

}

#b1:hover

{ backdrop-filter:brightness(60%);
  background-color: rgba(3, 3, 3, 0.3);

}

#vid {

    width: 800px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#vid1 {
    margin-top: 10px;
    border: 5px solid maroon;
    box-shadow: 0 0 2px #FF0000, 0 0 5px #fff;

}